:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.lib-text h1 {
  position: fixed;
  top: 0;
  left: 200px;
  width: 25vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  box-sizing: border-box;
  font-size: 80px;
}

.library-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 75vw;
  height: 100vh;
  overflow: hidden;
}

.library-image span,
.library-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.manage-users {
  margin: 70px 650px;
  padding: 20px 40px;
}

.view-users table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border: 2px solid wheat;
  color: white;
}

.action-btns {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}

.pagination button {
  padding: 6px 12px;
  cursor: pointer;
}

.active-page {
  background: #007bff;
  color: white;
  border: none;
  font-weight: bold;
}
