.viewBooks table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border: 2px solid wheat;
  color: white;
  font-size: 20px;
}

.issueBtns {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 250px;
  overflow-y: auto;
  padding: 8px;
}

.issueBtns > div {
  display: flex;
  justify-content: center;
  gap: 7px;
  align-items: center;
  padding: 6px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  background: transparent;
}

.issueBtns span {
  font-size: 14px;
  font-weight: 500;
  color: white;
}

.issueBtns button {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 6px;
}

.actionBtns {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.manageBooks {
  margin: 70px 260px;
  padding: 20px 40px;
}
