.navbar {
  display: flex;
  gap: 20px;
  position: fixed;
  top: 0;
  right: 40;
  padding: 25px;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.navbar p {
  position: relative;
  top: 12;
  cursor: pointer;
}
